<!DOCTYPE html>
<html>
<head>
    <title>Chute code test</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
    <style>.box1{max-width:250px; float:left; margin:15px;}</style>
</head>
<body>
<div class="container">
    <h1>Chute image gallery</h1>
    <form class="form-inline">
        <input type="text" name="album" id="album" class="form-control" placeholder="Type album ID">
        <button class="btn btn-primary show-album">Show album</button>
    </form>
    <hr/>
    <div id="image-gallery" class="js-masonry">
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
<script type="text/javascript" src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
<script type="text/javascript" src="js/lightbox.min.js"></script>
<script type="text/javascript" src="masonry.pkgd.min.js"></script>

<script type="text/template" id="image-list-template">
<% _.each(images, function(image){ %>
    <div class="image">
        <a href="<%= image.get('url') %>" data-lightbox="<%= image.get('id') %>"><img class="box1" src="<%= image.get('url') %>"/></a>
    </div>

<% }); %>
</script>



<script>
    $.ajaxPrefilter(function(options,originalOptions,jqXHR) {
        options.url = 'http://api.getchute.com/v2/albums' + options.url;
    });

    var container = $('#image-gallery');
    container.masonry({
        isAnimated:true,
        columnWidth:300,
        itemSelector:'.image'
    })

    var Images = Backbone.Collection.extend({
        url: function(){return '/'+this.album+'/assets?per_page=20&page='+this.page},
        page:1,
        /* To be implemented later */
        album:'aus6kwrg',
        parse: function(data){
            return data.data;
        }
    });

    $()

    var ImageList = Backbone.View.extend({
        el:'#image-gallery',
        initialize: function(){
            this.isLoading = false;
            this.eof = false;
            this.imageCollection = new Images();
            var self = this;
            $(window).bind('scroll', function (ev) {
                self.loadmore(ev);
            });
        },
        render: function(){
            this.loadResults();
        },
        loadResults :function(){
            var that = this;
            this.isLoading = true;
            this.imageCollection.fetch({
                success: function(images){
                    if (images.models.length == 0 ){that.eof = true}
                    else {
                    var template = _.template($('#image-list-template').html(), {images: images.models});
                    $(that.el).append(template);
                    that.isLoading = false;
            }},
                error: function(){alert('Error fetching data from Chute')}
            })
        },

        events:{'scroll':'loadmore','click .show-album':'showalbum'},
        loadmore: function(){
            if (!this.isLoading && $(window).scrollTop() >= $(document).height() - $(window).height() && !this.eof){
                this.imageCollection.page+= 1; // Load next page
                this.loadResults();
            }
        }
    });


    var Router = Backbone.Router.extend({
        routes: {'':'home'}
    });

    var imageList = new ImageList();


    var router = new Router();
    router.on('route:home',function(){
       imageList.render();
    });

    Backbone.history.start();
</script>
</body>
</html>
